﻿body {
    color: orange;
    font-size: 20px;
    font-weight: 800;
    background-color: lightblue;
}
h1 {
    color: red;
    font-size: xx-large;
    margin-left: 40px;
}
.special {
    color: #800080;
    font-size: xx-large;
    margin-left: 40px;
}
.introduction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #800000;
}
