﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NotificationsControl.ascx.cs" Inherits="RentMyWrox.Controls.NotificationsControl" %>
<asp:Label runat="server" ID="NotificationTitle" CssClass="NotificationTitle" />
<asp:Label runat="server" ID="NotificationDetail" CssClass="NotificationDetail" />
