﻿@using RentMyWrox.Models; <!-- The book left out this part about the using statement. -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/RentMyWrox.css" rel="stylesheet" type="text/css" />
    
    <script language="javascript" type="text/javascript" src="~/Scripts/jquery-1.12.4.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jqery-ui.css" />-->
    <link href="~/Content/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(".editordatepicker").datepicker();
        });
    </script>
</head>
<body>
    <div id="header">
    </div>
    <div id="nav">
        <div id="LeftNavigation">
            <ul class="level1">
                <li><a href="~/Home" class="level1">Home</a></li>
                <li>@Html.ActionLink("Items", "", "", null, new { @class = "level1" })</li>
                <li>@Html.ActionLink("Contact Us", "ContactUs", "Home", null, new { @class = "level1" })</li>
                <li>@Html.ActionLink("About Us", "About", "Home", null, new { @class = "level1" })</li>
            </ul>
        </div>
        <br />
        @Html.Action("NonAdminSnippet", "Notifications")
    </div>
    <div id="section">
        @RenderBody()
    </div>
    <div id="speacialnotes">
        @RenderSection("SpecialNotes", false)
    </div>
    <div id="footer">
        Footer Content Here
    </div>
</body>
</html>
