﻿@model GuitarShop.Models.Customers

@{
    ViewBag.Title = "Add Customer";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Customer Name
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Street Address
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerStreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customerStreetAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            City
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerCity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customerCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            State
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerState, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customerState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Zip Code
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerPostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customerPostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <br />
    @Html.ActionLink("Back to List", "Index")
</div>
