﻿@model GuitarShop.Models.Customers

@{
    ViewBag.Title = "Delete Customer";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Customer Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerName)
        </dd>

        <dt>
            Street Address:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerStreetAddress)
        </dd>

        <dt>
            City: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerCity)
        </dd>

        <dt>
            State: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerPostalCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
