﻿@model IEnumerable<GuitarShop.Models.Customers>

@{
    ViewBag.Title = "Customer Manager";
}
<table class="table">
    <tr>
        <th>Customer Name</th>
        <th>Street Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Action</th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerStreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerPostalCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCustomer", new { id = item.customerID }) |
                @Html.ActionLink("Delete", "DeleteCustomer", new { id = item.customerID })
            </td>
        </tr>
    }
}
</table>
