/* the styles for the html elements */
html {
    background-color: rgb(33, 97, 140);
}
body {
    display: flex;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    padding: .5em 2em;
}
#header {
    margin: 0;
    border-bottom: 2px solid black;
}
#header h1 {
    margin: 0;
    padding: .5em 0;
    color: rgb(156, 100, 12);
}
#main {
    float: right;
    margin: 5px;
    padding: 5px;
    width: 600px;
}
#aside {
    float: left;
    width: 150px;
    min-height: 450px;
    border-right: 2px solid black;
}
#nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
#nav ul li {
    padding-bottom: 0.5em;
}
#section {
    float: left;
    width: 100%;
    min-height: 500px;
    padding-bottom: 1.5em;
}
#footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid black;
}
#footer p {
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
}
.tableAction {
    font-size: 11px;
}
.qtyTextBox {
    width: 10px;
}
.prodcutImage {
    width: 250px;
    height: auto;
}
h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 36px;
    margin: 0;
    padding: .5em 0 .25em;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}
h1, h2 {
    color: rgb(241, 196, 15);
}
ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
}
a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}
a:hover {
    color: rgb(208, 133, 4);
}
table {
    margin: 5px auto;
    width: 600px;
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: center;
}
form {
    margin: 0;
}
br {
    clear: left;
}
/* the styles for classes */
.right {
    text-align: right;
}
.last_paragraph {
	margin-bottom: 2em;	
}
.margin_top_increase {
	margin-top: 1em;	
}

/********************************************************************
* Additional styles for the Product Manager application
********************************************************************/
#add_product_form {
    margin: .5em 0 1em;
}
#add_product_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_product_form input {
    float: left;
}
#add_product_form input[text] {
    width: 15em;
}