﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="RentMyWrox.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
    <link href="Content/main.css" type="text/css" rel="stylesheet" />
<body>
    <h1 class="title">I am Informative Text Title</h1>
    <div class="label">I am input text</div>
    I am Informative Text
    <h2 class="title">I am Product Title</h2>
    I am Product Text

</body>
</html>
