﻿@model GuitarShop.Models.Orders
@using GuitarShop.Models;

@{
    ViewBag.Title = "Add Order";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           Customer:
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.customerID, new SelectList(Model.customerSelectListItem, "Value", "Text"), "Select", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.customerID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Order Date:
            <div class="col-md-10">
                @Html.EditorFor(model => model.orderDate, new { htmlAttributes = new { @class = "form-control", @value=Model.orderDate.ToShortDateString() } })
                @Html.ValidationMessageFor(model => model.orderDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Description:
            <div class="col-md-10">
                @Html.EditorFor(model => model.orderDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.orderDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Select Products:
            <div class="col-md-10">
                <table>
                    <tr>
                        <th>Qty</th>
                        <th>Category</th>   
                        <th>Code</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                    @using (GuitarShopContext context = new GuitarShopContext())
                    {
                        var products = context.Products.Include("Categories").ToArray();
                              
                        foreach (var product in products)
                        {
                            <tr>
                                <td>@Html.Editor("productQty"+product.productID.ToString(), new { @class = ".qtyTextBox", id = product.productID })</td>
                                <td>@Html.DisplayFor(modelItem => product.Categories.categoryName)</td>
                                <td>@Html.DisplayFor(modelItem => product.productCode)</td>
                                <td>@Html.DisplayFor(modelItem => product.productName)</td>
                                <td>@Html.DisplayFor(modelItem => product.listPrice)</td>
                            </tr>
                        }

                    }
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
