﻿@model IEnumerable<GuitarShop.Models.Orders>

@{
    ViewBag.Title = "Order Manager";
}

<table class="table">
    <tr>
        <th>
            Customer
        </th>
        <th>
            Order Date
        </th>
        <th>
            Order Description
        </th>
        <th></th>
    </tr>

@if(Model != null) {
    foreach (var order in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => order.Customers.customerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => order.orderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => order.orderDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditOrder", new { id = order.orderID }, new { @class = "tableAction" }) |
            @Html.ActionLink("Details", "OrderDetails", new { id = order.orderID }, new { @class = "tableAction" }) |
            @Html.ActionLink("Delete", "DeleteOrder", new { id = order.orderID }, new { @class = "tableAction" })
        </td>
    </tr>
    }
}

</table>
