﻿@model GuitarShop.Models.Orders
@using GuitarShop.Models

@{
    ViewBag.Title = "Order Details";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            Customer Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.customerName)
        </dd>

        <dt>
            Order Date:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDate)
        </dd>

        <dt>
            Order Description:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDescription)
        </dd>
        <dt>
            Products Ordered:
        </dt>
    </dl>
</div>
<div class="col-md-10">
    <table>
        <tr>
            <th>Qty</th>
            <th>Category</th>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        @using (GuitarShopContext context = new GuitarShopContext())
        {
            var order_product_details = context.Order_Product_Details.Include("Products").Where(opd => opd.orderID == Model.orderID).ToArray();
            foreach (var productDetail in order_product_details)
            {
                var product = context.Products.Include("Categories").FirstOrDefault(p => p.productID == productDetail.productID);
                <tr>
                    <td>@Html.DisplayFor(modelItem => productDetail.quantity)</td>
                    <td>@Html.DisplayFor(modelItem => product.Categories.categoryName)</td>
                    <td>@Html.DisplayFor(modelItem => product.productCode)</td>
                    <td>@Html.DisplayFor(modelItem => product.productName)</td>
                    <td>@Html.DisplayFor(modelItem => product.listPrice)</td>
                </tr>
            }

        }
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "EditOrder", new { id = Model.orderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
