﻿@using GuitarShop.Models;

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="section">
        <!-- Header -->
        <div id="header">
            <h1>The Guitar Shop</h1>
            <h2>@ViewBag.Title</h2>
        </div>
        <!-- Aside -->
        <div id="aside">
            <!-- Navigation -->
            <div id="nav">
                <ul>
                    <li><a href="~/Home" class="level1">Product List</a></li>
                    <!-- These items will be restricted to logged on Admin users in the future -->
                    <li>@Html.ActionLink("Product Manager", "Index", "ProductManager")</li>
                    <li>@Html.ActionLink("Category Manager", "Index", "CategoryManager")</li>
                    <li>@Html.ActionLink("Customer Manager", "Index", "CustomerManager")</li>
                    <li>@Html.ActionLink("Order Manager", "Index", "OrderManager")</li>
                </ul>
                <hr />
            </div>
            <!-- Product List Sub Menu-->
            <div id="nav">
                <ul>
                @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Home")
                {
                    <li><a href="~/Home" class="level1">All Categories</a></li>
                    using (GuitarShopContext context = new GuitarShopContext())
                    {
                        var categories = from c in context.Categories
                                         select c;
                        foreach (var category in categories)
                        {
                            <li>@Html.ActionLink(category.categoryName.ToString(), "Index", "Home", new { id=category.categoryID }, null)</li>
                        }
                    }
                }
                else if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "ProductManager")
                {
                <!-- Product Manager Sub Menu -->
                    <li>@Html.ActionLink("Add Product", "AddProduct", "ProductManager")</li>
                    <hr />
                    <li><a href="~/ProductManager" class="level1">All Categories</a></li>
                    using (GuitarShopContext context = new GuitarShopContext())
                    {
                        var categories = from c in context.Categories
                                         select c;
                        foreach (var category in categories)
                        {
                            <li>@Html.ActionLink(category.categoryName.ToString(), "Index", "ProductManager", new { id = category.categoryID }, null)</li>
                        }
                    }
                }
                else if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "CustomerManager")
                {
                <!-- Customer Manager Sub Menu -->
                    <li>@Html.ActionLink("Add Customer", "AddCustomer", "CustomerManager")</li>
                }
                else if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "OrderManager")
                {
                <!-- Order Manager Sub Menu -->
                    <li>@Html.ActionLink("Add Order", "AddOrder", "OrderManager")</li>
                }
                else if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "CategoryManager")
                {
                <!-- Category Manager Sub Menu -->
                    <li>@Html.ActionLink("Add Category", "AddCategory", "CategoryManager")</li>
                }
                </ul>
            </div>
        </div>
        <!-- Main -->
        <div id="main">
                @RenderBody()
        </div>
        <!-- Footer -->
        <div id="footer">            
            <address>
                <p>
                    &copy; Guitar Shop 2017 <br />
                    <br />
                    Joshua M. Hughes <br />
                    COP2823 - Advanced Microsoft Web Development <br />
                    Professor Barrell <br />
                </p>
            </address>
        </div>
    </div>
</body>
</html>




