﻿@model RentMyWrox.Models.DemoModel

@{
    ViewBag.Title = "Index";
}

<h2>Demo Model Index</h2>
<p>
    <a href="/DemoModel/Details/5" target="_teamplateDisplay">Demo Model - Details Template</a><br />
    <a href="/DemoModel/Create/5" target="_teamplateDisplay">Demo Model - Create Template</a><br />
    <a href="/DemoModel/Delete/5" target="_teamplateDisplay">Demo Model - Delete Template</a><br />
    <a href="/DemoModel/Edit/5" target="_teamplateDisplay">Demo Model - Edit Template</a><br />
</p>


