﻿@model IEnumerable<GuitarShop.Models.Products>

@{
    ViewBag.Title = "Product List";
}
<div>
    <h3>
        Welcome to the Guitar Store!
    </h3>
    <h4>
        Select a product from our product list to view its details. 
    </h4>
</div>
    <table>
        <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Categories.categoryName)</td>
                    <td>@Html.DisplayFor(modelItem => item.productName)</td>
                    <td>@Html.DisplayFor(modelItem => item.listPrice)</td>
                    <td>@Html.ActionLink("Details", "ProductDetails", new { id = item.productID }, new { @class = "tableAction" })</td>
                </tr>
            }
        }
    </table>
