﻿@model GuitarShop.Models.Products

@{
    ViewBag.Title = "Product Details";
}

<div>
    <img class="prodcutImage" src="@Url.Content("~/Images/"+Model.productCode+".jpg")" alt="@Model.productCode" />
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            Category Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.categoryName)
        </dd>
        <dt>
            Product Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            List Price:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
