﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/RentMyWrox.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">

    </div>
    <div id="nav">
        Navigation Content Here
    </div>
    <div id="section">
        @RenderBody()
    </div>
    <div id="speacialnotes">
        @RenderSection("SpecialNotes", false)
    </div>
    <div id="footer">
        Footer Content Here
    </div>
</body>
</html>
