﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebForms.Master" AutoEventWireup="true" CodeBehind="OrderList.aspx.cs" Inherits="RentMyWrox.Admin.OrderList" 
    MetaTagKeywords="OrderList, Keywords" MetaTagDescription="This is the order list page." %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
