﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Page2.aspx.cs" Inherits="RentMyWrox.Demonstrations.Page2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Calendar ID="calendar" runat="server" EnableViewState="false" />
        <asp:Button runat="server" Text="Button" />
    </div>
    </form>
</body>
</html>
