﻿@{
    ViewBag.Title = "Index";
}

@foreach(var item in Model)
{
    <div>
        <div class="listtitle">
            <span class="productname">@item.Name</span>
            <span class="listprice">@item.Cost.ToString("C")</span>
        </div>
        <p>
            @if (item.Description.Length < 250)
            {
                @item.Description;
            }
            else
            {
                @item.Description.SubSubstring(0, 250);
                if (item.Description.Length > 250)
                {
                    <span>...</span>
                }
            }

            @Html.ActionLink("Full Details", "Details", new {  @item.id }, new { @class = "inlinelink" })
            <a class="inlinelink" href="">Add to Cart</a>

     </p>

 </div>
}


