﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/RentMyWrox.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">

    </div>
    <div id="nav">
        <div id="LeftNavigation">
            <ul class="level1">
                <li><a href="~/Home" class="level1">Home</a></li>
                <li>@Html.ActionLink("Items", "", "Items", new { @class = "level1" })</li>
                <li>@Html.ActionLink("Contact Us", "ContactUs", "Home", new { @class = "level1" })</li>
                <li>@Html.ActionLink("About Us", "About", "Home", new { @class = "level1" })</li>
            </ul>
        </div>
    </div>
    <div id="section">
        @RenderBody()
    </div>
    <div id="speacialnotes">
        @RenderSection("SpecialNotes", false)
    </div>
    <div id="footer">
        Footer Content Here
    </div>
</body>
</html>
