﻿@model GuitarShop.Models.Products

@{
    ViewBag.Title = "Add Product";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Category Name:
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.categoryID, new SelectList(Model.categoryNameSelectList, "Value", "Text"), "Select", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.categoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Product Code: 
            <div class="col-md-10">
                @Html.EditorFor(model => model.productCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Product Name: 
            <div class="col-md-10">
                @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            List Price: 
            <div class="col-md-10">
                @Html.EditorFor(model => model.listPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.listPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        * Image publishing not available at this time. Images must be uploaded via FTP.
    </div>
}

<div>
    <br />
    @Html.ActionLink("Back to List", "Index")
</div>
