﻿@model GuitarShop.Models.Products

@{
    ViewBag.Title = "Delete Product";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Category Name: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.categoryName)
        </dd>

        <dt>
            Product Code: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productCode)
        </dd>

        <dt>
            Product Name: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            List Price: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listPrice)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
