﻿@model IEnumerable<GuitarShop.Models.Products>

@{
    ViewBag.Title = "Product Manager";
}
<table class="table">
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Product Code
        </th>
        <th>
            Product Name
        </th>
        <th>
            List Price
        </th>
        <th>Action</th>
    </tr>

@if (Model != null)
{
    foreach (var item in ViewData.Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.listPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id = item.productID }) |
                @Html.ActionLink("Delete", "DeleteProduct", new { id = item.productID })
            </td>
        </tr>
    }
}
</table>
