﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    display:block;
    background-color:#d6c2a5;
	margin: 5px auto;
	text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Header Styles */

h1, h2 {
	color:#7ca0d6
	
}

/* Main Styles */
main {
	width: 1000px;
	min-height: 500px;
	margin: 5px auto;
}

/* Navigation Styles */
nav{
	width: 175px;
	min-height: 500px;
	float: left;
	text-align: center;
	background-color:#544830;
}

nav ul {
	margin: 0px auto;
	padding: 0px;
	list-style: none;
	
}

nav li {
	width: 97%;
	margin: 0px auto;
	background: silver;
	border-style: outset;
	border-width: 2px;
	border-color: silver;
	
}

nav li:hover{
	background: lightblue;
	
}

nav a {
	text-decoration: none;
	color: black;
}

/* Section Styles */
section{
	width: 825px; 
	min-height: 500px;
	margin: 0px auto;
	text-align: center;
	float: right;
	background-color: white;
	
}

/* Footer Styles */

footer address{
	clear: both;
	margin: auto;
	text-align: center;
	color:#7ca0d6;
	font-size: 10px;
	font-family: "Times New Roman", Georgia,Serif;
	font-style: italic;
	
}