﻿@model GuitarShop.Models.Categories

@{
    ViewBag.Title = "Delete Category";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        Category Name: @Html.DisplayFor(model => model.categoryName)
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
