﻿@model IEnumerable<GuitarShop.Models.Categories>

@{
    ViewBag.Title = "Category Manager";
}
<table class="table">
    <tr>
        <th>
            Category Name
        </th>
        <th>Action</th>
    </tr>
@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCategory", new { id = item.categoryID }) |
            @Html.ActionLink("Delete", "DeleteCategory", new { id = item.categoryID })
        </td>
    </tr>
    }
}
</table>
