﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Page1.aspx.cs" Inherits="RentMyWrox.Demonstrations.Page1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="mainText" runat="server" EnableViewState="false"/>
        <asp:Button runat="server" Text="Button" />
    </div>
    </form>
</body>
</html>
