﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">RentMyWrox</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>RentmyWrox Site DemoModel Template Examples</h2>
        <p>
            <a id="DemoModelAnchor" href="/DemoModel/Index/" target="_templateDisplay">Demo Model</a><br />
           </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
    <h2>RentmyWrox Site UserDemographics Template Examples</h2>
    <p>
        <a id="UserDemographicsAnchor" href="/UserDemographics/Index/" target="_templateDisplay">UserDemographics</a><br />
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
</div>
</div>