﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">RentMyWrox</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>RentmyWrox Site : DemoModel Template Examples</h2>
        <p>
            <a id="DemoModelAnchor" href="/DemoModel/Index/" target="_templateDisplay">Demo Model</a><br />
           </p>
    </div>
    <div class="col-md-4"> 
        <h2>RentmyWrox Site : UserDemographics Template Examples</h2>
    <p>
        <a id="UserDemographicsAnchor" href="/UserDemographics/Index/" target="_templateDisplay">UserDemographics</a><br />
    </p>
    </div>
    <div class="col-md-4">
        <h2>RentmyWrox Site : Admin</h2>
        <p>
            <a id="RentMyWroxAdmin" href="~/Admin/" target="_templateDisplay">RentMyWrox Admin</a><br />
        </p>       
    </div>
</div>